* {
  text-align: center;
  margin: 0;
}

.color {
  border: solid black 1px;
  display: inherit;
  height: 32px;
  margin-left: 5%;
  margin-right: 5%;
  width: 32px;
}

#color-palette {
  display: inline-block;
  width: 40%;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#pixel-board {
  margin: 0;
  border: 1px solid black;
  display: inline-table;
  line-height: 0.5;
  width: auto;
}
